@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div>
        <h1 class="display-4">Välkommen till bloggen</h1>
        <br />
        <br />
        <h3 class="text-danger"> Navigera i menyn för att antingen skriva ett inlägg eller för att söka bland befintliga inlägg.</h3>
        
    </div>