@model BloggenFinal.ViewModel.CategoryViewModel
@{
    ViewData["Title"] = "Home Page";
}
@{
    DateTime timeNow = DateTime.Now;
    ViewBag.CurrentTime = timeNow;
}

<div class="text-center">
    <h1 class="display-4 text-light">Välkommen.</h1>
    <form asp-controller="Post" asp-action="CreatePost" method="post">
        <div>
            <label class="textfix text-light" style="float:left">Categorier:&nbsp;</label>
            <select style="float:left" asp-for=@Model.bloggen.CategoryId asp-items="@(new SelectList(Model.kategorier, "Id", "CategoryDescription"))">
            </select>
        </div>
        <br />
        <div>
            <br />
            <label class="textfix text-light" style="float:left">Titel:</label>
            <input class="titleInput" type="text" asp-for=@Model.bloggen.Title />
            <span class="text-danger" style="float:left;" asp-validation-for="bloggen.Title"></span>
        </div>
        <br />
        <div>
            <label class="textfix text-light">Skriv inlägg:</label>
            <textarea class="form-control" id="textareaChars" rows="10" asp-for=@Model.bloggen.Post></textarea>
            <span class="text-danger" style="float:left;" asp-validation-for="bloggen.Post"></span>
            <br />
            <p class="text-light"><span id="chars" class="text-light">2000</span> - characters remaining</p>
        </div>
        <br />
        <div>
            <label class="text-muted" asp-for=@Model.bloggen.Date>@ViewBag.CurrentTime</label>
            <input style="position:relative;right:70px;" type="submit" value="Spara inlägg" />
            <br />
            <p class="textfix text-light" style="position:relative;right:70px;">@TempData["message"]</p>
        </div>
    </form>
</div>
<script>
    var maxLength = 2000;
$('textarea').keyup(function() {
  var length = $(this).val().length;
  var length = maxLength-length;
  $('#chars').text(length);
});


</script>

